* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body main {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(50, 167, 175);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("/assets/img/background-zerotwo/background-zerotwo-3072w-mobile.jpg");
  background-position: left top;
}
@media (min-aspect-ratio: 59/60) {
  body main {
    background-image: url("/assets/img/background-zerotwo/background-zerotwo-3072w.jpg");
    background-position: right top;
  }
}
@media (min-aspect-ratio: 17/9) {
  body main {
    background-position: right top 18%;
  }
}

h1 {
  line-height: 140%;
  font-size: 18vmin;
  color: whitesmoke;
}

.z-layer:not(:first-child) {
  filter: brightness(0.7);
}

.title .z-text {
  transform: rotateX(5deg);
  transition: transform 1s;
}
@supports not (-moz-appearance: none) {
  .title .z-layer {
    background-image: linear-gradient(120deg, hsl(180, 100%, 50%), hsl(210, 100%, 50%), hsl(240, 100%, 50%), hsl(270, 100%, 50%), hsl(300, 100%, 50%), hsl(330, 100%, 50%), hsl(0, 100%, 50%));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text-container {
  text-align: center;
  color: whitesmoke;
  width: 120vmin;
  max-width: 80vw;
  max-width: 80svw;
  margin: 5vmin 0;
  padding: 0 3vmin 2vmin;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
}
.text-container h2 {
  font-size: 4vh;
  margin-top: 1.25vmin;
}
.text-container p {
  font-size: 2vh;
  text-wrap: pretty;
  text-align: left;
}
.text-container .z-text {
  transform: rotateX(10deg);
  transition: transform 1s;
}
