// Navbar
@use "navbar";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: hsl(210, 100%, 50%);
  @supports (not (-moz-appearance: none)) {
    background-image: linear-gradient(
      0deg,
      hsl(180, 100%, 50%),
      hsl(210, 100%, 50%),
      hsl(240, 100%, 50%),
      hsl(270, 100%, 50%),
      hsl(300, 100%, 50%),
      hsl(330, 100%, 50%),
      hsl(360, 100%, 50%)
    );
  }
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0 0 0 100vh rgba($color: black, $alpha: 0.6);
  border-radius: 1rem;
}

$background-dir: "/assets/img/background-zerotwo/";
body {
  background-color: rgb(50, 167, 175);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  background-image: url($background-dir + "background-zerotwo-3072w-mobile.jpg");
  background-position: left top;

  @media (min-aspect-ratio: 59/60) {
    background-image: url($background-dir + "background-zerotwo-3072w.jpg");
    background-position: right top;
  }

  @media (min-aspect-ratio: 17/9) {
    background-position: right top 18%;
  }

  main {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7vmin;
  }
}

.z-layer:not(:first-child) {
  filter: brightness(0.7);
}

.title {
  top: 0;
  position: -webkit-sticky;
  position: sticky;

  h1 {
    line-height: 125%;
    font-size: 17vmin;
    color: whitesmoke;
  }

  .z-text {
    transform: rotateX(5deg);
    transition: transform 1s;
  }

  .z-layer {
    @supports (not (-moz-appearance: none)) {
      background-image: linear-gradient(
        105deg,
        hsl(180, 100%, 50%),
        hsl(210, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(270, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(330, 100%, 50%),
        hsl(360, 100%, 50%)
      );
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.feather {
  color: whitesmoke;
}

.text-container {
  a svg {
    height: 6vh;
    width: 6vh;
  }
  h2 {
    font-size: 4vh;
    font-weight: lighter;
  }
  h2:not(#content) {
    margin-top: 3vh;
  }
  p {
    font-size: 2vh;
    text-wrap: pretty;
    text-align: left;
  }
  .z-text {
    transform: rotateX(10deg);
    transition: transform 1s;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  width: 120vmin;
  max-width: 80vw;
  max-width: 80svw;
  padding: 0.5vmin 3vmin 2.25vmin;
  margin-bottom: 5vmin;
  //Border
  border-radius: 1rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.3);
}

.text-container,.navbar {
  background-color: rgba($color: black, $alpha: 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-right: 0.2rem solid rgba(0, 0, 0, 0.3);
}

.scroll-thing {
  min-height: 93svh;

  & > .title {
    position: sticky !important;
    //top: 1rem;
  }
}

#content {
  padding-top: 3vh;
}
