* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

$background-dir: "/assets/img/background-zerotwo/";
body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(50, 167, 175);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  background-image: url($background-dir + "background-zerotwo-3072w-mobile.jpg");
  background-position: left top;

  @media (min-aspect-ratio: 59/60) {
    background-image: url($background-dir + "background-zerotwo-3072w.jpg");
    background-position: right top;
  }

  @media (min-aspect-ratio: 17/9) {
    background-position: right top 18%;
  }
}

h1 {
  line-height: 140%;
  font-size: 18vmin;
  color: whitesmoke;
}

.z-layer:not(:first-child) {
  filter: brightness(0.7);
}

.title {
  .z-text {
    transform: rotateX(5deg);
    transition: transform 1s;
  }

  .z-layer {
    @supports (not (-moz-appearance: none)) {
      background-image: linear-gradient(
        120deg,
        hsl(180, 100%, 50%),
        hsl(210, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(270, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(330, 100%, 50%),
        hsl(360, 100%, 50%)
      );
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.text-container {
  h2 {
    font-size: 4vmin;
    margin-top: 2vmin;
  }
  p {
    font-size: 3vmin;
    text-wrap: pretty;
    text-align: left;
  }

  text-align: center;
  color: whitesmoke;
  width: 120vmin;
  max-width: 80vw;
  max-width: 80svw;
  margin: 5vmin 0;
  padding: 0 3vmin 2vmin;

  background-color: rgba($color: black, $alpha: 0.5);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
}
